<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=gbk" />
    <title>GuoGe'Blog其它
    </title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <!--For images carousel-->
  </head>
  <body>
    <!-- Header Start-->
    <div class="header-wrapper1">
      <div id="header">
        <a href="index.html" id="logo">
          <img src="images/logo7.png" alt="" /></a>
        <a href="index.html" id="logo2">
          <span>志愿者工作站
          </span>
        </a>
        <!-- Top Menu Start-->
        <div id="primary-nav">
          <ul id="menu-primary-menu" class="sf-menu">
            <li>
              <a href="index.html">
              <span>首页
              </span></a>
            </li>
            <li>
              <a href="" class="sf-with-ul">志愿者之家</a>
              <ul class="sub-menu">
                <li>
                  <a href="groupList.html">
                <span>志愿者团队
                </span></a>
                </li>
                <li>
                  <a href="activityList.html">
                <span>志愿者项目
                </span></a>
                </li>
                <li>
                  <a href="myApplyList.html">
                <span>我的入队申请
                </span></a>
                </li>
                <li>
                  <a href="createGroup.html">
                <span>申请创建团队
                </span></a>
                </li>
              </ul>
            <li>
              <a href="">我的团队</a>
              <ul class="sub-menu">
                <li>
                  <a href="groupVolunteers.html"><span>团队1</span></a>
                </li>
                <li>
                  <a href="groupVolunteers.html"><span>团队2</span></a>
                </li>
              </ul>
            </li>
            <li>
              <a href="login.html" >
            <span>退出登录
            </span>
              </a>
            </li>
          </ul>
          <!-- END #primary-nav -->
        </div>
      </div>  
      <div class="title">
        <span style="font-size: 20px">项目详情</span>
      </div>
    </div>
    <!-- Middle Part Start-->
    <div id="middle-wrapper">  
      <!-- Left Section Start-->  
      <div class="leftsec">
        <div class="team"> <h3>项目介绍<a href=""></a></h3>
          <div style="float: left">
          <li style="list-style-type: none"><img src="images/志愿者组织.png" style="width: 370px;height: 250px;"></li>
          </div>
          <div class="groupDetail" >
            <li><strong>项目名称：</strong><span>西部支教活动</span></li>
            <li><strong>创建团队：</strong><span>飞虎队</span></li>
            <li><strong>项目状态：</strong><span>进行中</span></li>
            <li><strong>项目分类：</strong><span>支教</span></li>
            <li><strong>项目负责人：</strong><span>圣枪</span></li>
            <li><strong>所在城市：</strong><span>江苏无锡</span></li>
          </div>
        </div>
        <div class="team" style="margin-top: 20px"> <h3>项目描述</h3>
          <div style="width: 600px">
          <span style="font-size: 14px;margin-left: 18px;line-height: 22px">&nbsp;&nbsp;&nbsp;&nbsp;要求有良好的行为素质，态度端正，有团队协作意识,非的设计开发吧国际上的开关红色款高考各地司空见惯的看世界杯，法家拂士的看法白色恐怖。</span>
          </div>
        </div>
      </div>  
      <!-- Right Section Start-->
      <div class="rightsec">    <h3>联系我们</h3>
        <div class="contact">
          <div class="cont-detail">
            <img src="images/address1.png" alt="" /> <strong>地址</strong>杭州市余杭区
          </div>
          <div class="cont-detail">
            <img src="images/phone1.png" alt="" width="14" height="18" /> <strong style="margin-left: -2px">手机号</strong>
            <a href="#">13771397394</a>
          </div>
          <div class="cont-detail">
            <img src="images/mail1.png" alt="" width="15" height="12" /> <strong>邮箱</strong>
            <a href="#">1055494598@qq.com</a>
          </div>
        </div>
        <h3>更多</h3>
        <ul class="touch">
          <li>
            <a href="#">
              <img src="images/facebook.png" alt="" /> </a>
          </li>
          <li>
            <a href="#">
              <img src="images/twitter.png" alt="" border="0" /></a>
          </li>
          <li>
            <a href="#">
              <img src="images/rss.png" alt="" border="0" /></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Footer Part Start-->
    <div style="display:none">
<script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script>
    </div>
  </body>
</html>